*{
    margin: 0;
    padding: 0;

    color: white;
    font-family: "Montserrat", sans-serif;
}

:root{
    --ui-color: #422c57;
}

.team-image{
    aspect-ratio: 1/1;
}

body{
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    margin-bottom: 12px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    animation: animate 1s ease-in-out;
}

.top-img{
    position: absolute;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.absolute-gameplayScreenshot {
  display: block;
  width: 100%;
  height: auto;

  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

@keyframes animate{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes moveDown{
    0%{
        transform: translateY(-100px);
    }


    100%{
        transform: translateY(0px);
    }
}

@keyframes moveUp{
    0%{
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0px);
    }
}

.relative-logoImgBig{
    position: relative;
    animation: animate 1s ease-in-out, moveDown 1s ease-in-out;
}

.nav-bar{
    background-color: var(--ui-color);
    border-radius: 12px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.dropdown-header{
    cursor: pointer;
}

.paragraph, .info-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--ui-color);
    border-radius: 12px;
}

.paragraph h2{
    margin-bottom: 12px;
}

a{
    all: unset;
    text-decoration: none;
    cursor: pointer;
}

.nav-leftSide{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.nav-desktopIcons{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.break{
    margin: 6px 0;
}
@media(max-width: 767px){
    .absolute-gameplayScreenshot{
        max-width: 100vw;
    }

    .relative-logoImgBig{
        max-width: 75vw;
    }

    .top-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar{
        padding: 24px 20px;
        width: 85vw;
        font-size: 20px;
    }

    .paragraph, .info-section{
        margin-top: 24px;
        width: 85vw;
        padding: 24px 20px;
    }

    .nav-desktopIcons a span{
        display: none;
    }

    .nav-desktopIcons{
        gap: 36px;
    }

    .discord-text{
        display: none;
    }

    .absolute-gameplayScreenshot {
        display: block;
        width: 100vw;
        height: auto;
    }

    .team-member p{
        font-size: 12px;
    }

    .team-members{
        margin: 24px 0;
    }

    .team-members h3{
        margin-bottom: 16px;
    }

    .team-image{
        width: 96px;
    }
}

.nav-rightSide{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media(max-width: 1023px) and (min-width: 768px){
    .absolute-gameplayScreenshot{
        max-width: 100vw;
    }

    .relative-logoImgBig{
        max-width: 50vw;
    }

    .top-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar{
        padding: 24px 20px;
        width: 85vw;
        font-size: 20px;
    }

    .paragraph, .info-section{
        margin-top: 24px;
        width: 85vw;
        padding: 24px 20px;
    }

    .paragraph h2{
        font-size: 32px;
    }

    .discord-text{
        display: block;
    }

    .nav-rightSide{
        gap: 12px;
    }

    .absolute-gameplayScreenshot {
        display: block;
        width: 100vw;
        height: auto;
    }

    .team-member p{
        font-size: 16px;
    }

    .team-members{
        margin: 24px 0;
    }

    .team-members h3{
        margin-bottom: 16px;
    }

    .nav-desktopIcons a span{
        display: none;
    }

    .nav-desktopIcons{
        gap: 36px;
    }
    .team-image{
        width: 128px;
    }
}

@media(min-width: 1024px){
    .absolute-gameplayScreenshot{
        width: 100vw;
    }

    .relative-logoImgBig{
        max-width: 30vw;
    }

    .top-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar{
        padding: 24px 20px;
        width: 75vw;
        font-size: 20px;
    }

    .paragraph, .info-section{
        margin-top: 24px;
        font-size: 20px;
        width: 75vw;
        padding: 24px 20px;
    }

    .paragraph h2{
        font-size: 40px;
    }

    .nav-desktopIcons{
        display: none;
    }

    .discord-text{
        display: block;
    }

    .nav-rightSide{
        gap: 12px;
    }

    .dropdown-header{
        display: none;
    }

    .nav-desktopIcons{
        display: flex;
        z-index: 1000;
        gap: 36px;
    }


    .absolute-gameplayScreenshot {
        display: block;
        width: 100vw;
        height: auto;

        -webkit-mask-image: linear-gradient(
            to bottom,
            rgba(0,0,0,1) 0%,
            rgba(0,0,0,1) 10%, 
            rgba(0,0,0,0) 60%
        );
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;

        mask-image: linear-gradient(
            to bottom,
            rgba(0,0,0,1) 0%,
            rgba(0,0,0,1) 10%,
            rgba(0,0,0,0) 60%
        );
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
    }

    .team-member p{
        font-size: 16px;
    }

    .team-members{
        margin: 24px 0;
    }

    .team-members h3{
        margin-bottom: 16px;
    }

    .team-image{
        width: 128px;
    }

}

.team-members{
    width: 100%;
}

.tiny-text *, .tiny-text{
    font-size: 16px;
    color: grey;
}

#copyLink *{
    color: #00fff2;
    cursor: pointer;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

li {
    margin-bottom: 5px;
}

.team-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-image{
    border-radius: 50%;
    margin-bottom: 12px;
}
